:global(body) {
  background: #24243A;
}

.maxWidth {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper {
  composes: maxWidth;
}

.layout {
  background: linear-gradient( #fff 350px, #f0f2f5 1px);
}

.logo {
  width: 100px;
  height: 22px;
  margin: 21px 0px;
}

.header {
  composes: maxWidth;
  display: flex;
  justify-content: space-between;
}

.content {
  composes: maxWidth;
}

.footer {
  text-align: center;
  color: white;
  padding: 40px;
}

.footerLink {
  color: #5EC1A1;
  margin: 15px;
}

.footerHeart {
  margin: 15px 10px;
}

.footerLondon {
  width: 65px;
  filter: invert(1);
}
