.newTag {
  background: #fff;
  border-style: dashed;
  cursor: pointer !important;
  transition: all 0.3s;
}

.newTag:hover {
  border-color: var(--primary-color);
}

.newIcon {
  margin-right: 5px;
}

.input {
  width: 215px !important;
}