
:global(.ant-form-explain) {
  font-size: 12px;
  padding-top: 3px;  
}

.betaNotification {
  background-color: #5EC1A1;
}

.navSteps {
  padding: 60px 0 100px !important;
}

.assessmentContent {
  min-height: 560px;
}